<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <%- include('partials/header2') %>
    
    <div class="img-principal">
        <img src="/img/LIsa.jpg" alt="">
    </div>

    <div class="form">
        <form class="products-form" action="/edit/<%= product.id_games %>?_method=PUT" method="post">
           
            <input type="text" class="products-form-input" placeholder="imagem:" name="img" value="<%= product.img %>"      required> <br> 
            <input type="text" class="products-form-input" placeholder="Nome:" name="title" value="<%= product.title %>"    required> <br> 
            <input type="number" class="products-form-input" placeholder="Preço:" name="price" value="<%= product.price %>" required> <br>
            <input type="text" class="products-form-input" placeholder="Estoque:" name="stock" value="<%= product.stock %>" required>
            <button class="products-form-button" Type="submit">Editar</button>
        </form>
    </div>
</body>
</html>