<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/games.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KickAss</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="banner">
                <img class="banner-picture" src="../img/menu_fifa23.png" alt="Logo fifa 23">
            </div>
            
            <div class="productList">
               
                <h3> Produtos em Promoção! </h3>
              
               <!--Lista de jogos Dinamica ///////////////////////////////////////////////////////-->                                      
                                <% for (let product of products) { %>
                                        <div class="product">
                                            <img class="game-img" src="/img/<%=product.img %> " alt="null">
                                            <br>
                                            <%= product.title %> <br> 
                                            <%= product.price %><br>
                                            <a class="game-options3" href="">Comprar</a>
                                         </div>
                                        
                                  <% }    %>
                    <!-- FIM DA LISTA DE JOGOS ////////////////////////////////////////////////////////-->
                  </div>

        </main>
        <%- include('partials/footer') %>
        <script src="gamesControllers.js"></script>
        
</body>

</html>