<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/productsList.css">
    <link rel="stylesheet" href="../css/header2.css">
</head>
<body>
    <%- include('partials/header2') %>

    <div class="container">
        
        <h1>Lista de Vendas:</h1>
        <table class="table">
            <thead class="thead">
                <tr class="tr">
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
                <% products.forEach(product => { %> 
                <tr class="tr">
                    <td scope="row"><%=product.id_sales%></td>
                    <td><%=product.name%></td>
                    <td colspan="2">
                        <a href="/edit/<%= product.id_sales %>"><img class="img-icon" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/20/null/external-edit-interface-kiranshastry-lineal-kiranshastry.png"/></a>
                        <form class="products-form" action="/deleteSale/<%= product.id_sales %>?_method=DELETE" method="post">
                   <button>
                    <a href="#"><img class="img-icon" src="https://img.icons8.com/ios/18/null/trash--v1.png"/></a>
                   </button> </form>
                    </td>
                </tr>
                <% }) %>
                

            </thead>

        </table>
    </div>
</body>
</html>